{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SIGA / Login{% endblock %}

{% block content %}
<style>
.fundo-verde {
  background-color:rgb(146, 164, 146); /* Verde claro */
  padding: 15px; /* Espaço interno para melhor aparência */
  border-radius: 5px; /* Cantos arredondados opcionais */
}
</style>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="text-center">
          <img src="{% static 'core/img/logoSIGA.png' %}" class="img-fluid" style="max-width: 300px;">
          <br>
        </div> 
        <h3 align="center">O sistema nasceu para tornar o dia a dia de clínicas e estúdios mais leve, organizado e fluido.</h3>
        <hr>
        <p align="justify">
          Desenvolvido pelo Laboratório de Práticas da Computação da UFN, ele conecta profissionais e pacientes de forma simples e cuidadosa, valorizando o tempo, o bem-estar e a qualidade dos atendimentos.
          <br>
          <br>
          Aqui, cada agendamento é mais do que um horário marcado — é um compromisso com o cuidado, a saúde e a evolução de quem busca um serviço especializado.
        </p>
        <p align="justify">
          O que o SIGA oferece:
        </p>
        <ul>
          <li>
            <strong>Agendamentos com facilidade: </strong> Organize horários de atendimentos em áreas como Pilates, Massoterapia, Condicionamento Físico, Acupuntura, RPG e outros serviços terapêuticos de forma clara e visual. Cada profissional encontra seu fluxo, e cada cliente percebe que o tempo dele importa
          </li>
          <li>
            <strong>Acompanhamento de presenças e desistências:</strong> O SIGA ajuda a perceber ritmos e constâncias. Assim, é possível apoiar a continuidade do cuidado e fortalecer vínculos            
          </li>
          <li>
            <strong>Avisos e lembretes de agenda:</strong> Nenhum detalhe se perde: o sistema ajuda a manter todos alinhados, evitando desencontros e improvisos de última hora
          </li>
          <li>
            <strong>Histórico de atendimentos acessível:</strong> Cada história importa. Por isso, o SIGA registra o caminho percorrido — facilitando revisões, evolução de tratamento e acolhimento contínuo
          </li>
        </ul>
        <p>
          <strong>Por que o SIGA existe?</strong><br>
        </p>
        <ul>
          <li>Porque organizar horários também é cuidar de pessoas</li>
          <li>Quando a rotina está equilibrada, o tempo flui com mais calma</li>
          <li>Quando o profissional tem clareza, ele pode oferecer presença verdadeira no atendimento</li>
          <li>Quando o cliente se sente acolhido, o processo de cuidado se torna mais significativo</li>
        </ul>
        <p>
          Bem-vindo(a).
          Que o tempo aqui seja bem cuidado.
        </p>
        <p>
          Contate <i><b>lapinf@ufn.edu.br para informações</b></i>.
        </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="text-center">
              <h1 style="color:rgb(237, 99, 30);"><b>Acesso ao sistema</b></h1>
            </div>  
            <div class="account-wall">
              <br>
              <form class="form-signin" method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <span class="clearfix"></span>
              <p style="text-align:center;">
                <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                  {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                </button>
              </p>
              <p style="text-align:center;">
                {% comment %} <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a> {% endcomment %}
                {% comment %} <a class="btn btn-info" style="width:49%;" href="">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a> {% endcomment %}
                <a class="btn btn-warning" style="width:100%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
              </p>
              </form>
            </div>
            <hr>
            <div class="text-center">
              <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                style="width: 140px;"></a>   
                
                <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
                  style="width: 50px;"></a>                          
            </div>
            <hr>
        </div>
    </div>
    <div align="center">
      <hr>
      <label class="text-primary">Todos os direitos reservados | Desde 2025.</label>
      <br><br>
    </div>
{% endblock %}
